
* {
  box-sizing: border-box;
}

/* header starts*/

header {
  height: 75px;
  background-color: #F7F7F7;
}

.nav {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  border-top: 3px solid red;
}

.fixed {
  position: fixed;
  width: 100%;
}

.col {
  display: block;
  float: left;
}

.col-left {
  width: 15%;
}

.img1 img {
  display: block;
  margin: 34px;
}

.col-middle {
  width: 75%;
}

.home {
  color: #FD2727;
}

.headwords {
  color: #2A2A2A;
}

.col-right {
  width: 10%;
}

.img2 img {
  display: block;
  margin: 30px;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  padding: 16px;
}

/* header ends*/

/*The Details Matter starts */

.div1 {
  text-align: center;
}

.div1h1 {
  color: #4A4A4A;
  padding-top: 120px;
}

.div1h2 {
  color: #5A5A5A;
  font-size: 15px;
}

/*The Details Matter ends*/

/*Picture box css starts*/

.grid {
  margin: 0 auto;
  width: 96vw;
  display: flex;
}

.grid img {
  width: 100%;
}

.grid__column {
  display: flex;
  flex-wrap: wrap;
  padding-right: 1vw;
  align-content: flex-start;
}

.grid__column:last-child {
  padding: 0;
}

.grid__column--two-thirds {
  min-width: 64vw;
  flex: 2;
}

.grid__column--one-third {
  min-width: 32vw;
  flex: 1;
}

.grid__item {
  padding-bottom: 1vw;
}

.grid__item--full {
  min-width: 100%;
  flex: 3;
}

.grid__item--one-third {
  flex: 1.2;
  padding-right: 1vw;
}

.grid__item--one-third img {
  min-width: 1px;
}

.grid__item--two-thirds {
  flex: 1.8;
}

/*Picture box css ends*/

/*footer start*/

footer {
  clear: both;
  display: flex;
  margin: 0 auto;
  width: 95%;
}

.a {
  color: #767676;
}

.what {
  color: #FF0606;
}

.foottext {
  color: #6C6C6C;
}

.modern {
  color: #505050;
}

.whatsnew {
  font-size: 10pt;
  width: 25%;
  float: left;
  margin-right: 6px;
}

.layouts {
  font-size: 10pt;
  width: 75%;
  float: left;
}

.layouts p {
  column-count: 3;
}

/*footer end*/
