* {
    box-sizing: border-box;
}
img {
    /*width: 100%;*/
}

html, body {
    height: 100%;
}

body {
    /*display: flex;*/
    /*justify-content: center;
    align-items: center;*/

}

.col {
/*flex: 1;
background-color: rgb(192, 228, 191);
transition: all 1s ease;
opacity: .9;*/
}


.col:hover {
    /*flex: 5;*/
}

/*header bar css start*/

.head {
    background-color: #F7F7F7;
    width: 960px;
    float: left;
    padding: 20px;
}
.head1 {
    color: #FD2727;
    padding-right: 10px;
}

.head2 {
    color: #2A2A2A;
    padding-right: 10px;
}

.head3 {
    color: #2A2A2A;
    padding-right: 10px;
}

.head4 {
    color: #2A2A2A;
    padding-right: 10px;
}

.headimg1 {
    max-width: 100px;
    padding-right: 20px;
}

.headimg2 {
    /*max-width: 30px;*/
    padding-left: 500px;
}

/*header bar css ends*/

/*The Details Matter starts */

.div1 {
    text-align: center;
}

.div1h1 {
    color: #4A4A4A;
    padding-top: 130px;
}

.div1h2 {
    color: #5A5A5A;
    font-size: 15px;
}

/*The Details Matter ends*/

/*Picture box css starts*/

.grid {
  margin: 0 auto;
  width: 96vw;
  display: flex;
}

.grid img {
  width: 100%;
}

.grid__column {
  display: flex;
  flex-wrap: wrap;
  padding-right: 1vw;
  align-content: flex-start;
}

.grid__column:last-child {
  padding: 0;
}

.grid__column--two-thirds {
  min-width: 64vw;
  flex: 2;
}

.grid__column--one-third {
  min-width: 32vw;
  flex: 1;
}

.grid__item {
  padding-bottom: 1vw;
}

.grid__item--full {
  min-width: 100%;
  flex: 3;
}

.grid__item--one-third {
  flex: 1.2;
  padding-right: 1vw;
}

.grid__item--one-third img {
  min-width: 1px;
}

.grid__item--two-thirds {
  flex: 1.8;
}

/*Picture box css ends*/

/*Bottom 4 columns start*/

.pcontainer {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  flex-direction: column;
  flex: 2
}

.a {
    color: #767676;
    fl
}

.column {
    display: flex;
    display: inline-block;
    columns: 4;
    padding: 25px;
}

.what {
    color: #FF0606;
}

.foottext {
    color: #6C6C6C;
}

.modern {
    color: #505050;
}

/*Bottom 4 columns end*/


/*collin*/


/*.grid {
    margin: 0 auto;
    width: 96vw;
    display: flex;
}

.grid img {
    width: 100%;
}

.grid__column {
    display: flex;
    flex-wrap: wrap;
    padding-right: 1vw;
    align-content: flex-start;
}

.grid__column:last-child {
    padding: 0;
}

.grid__column--two-thirds {
    min-width: 64vw;
    flex: 1.99;
}

.grid__column--one-third {
    min-width: 32vw;
    flex: 1.01;
}

.grid__item {
    padding-bottom: 1vw;
}

.grid__item--full {
    min-width: 100%;
    flex: 3;
}

.grid__item--one-third {
    flex: 1.2;
    padding-right: 1vw;
}

.grid__item--two-third {
    flex: 1.8;
}*/
