* {
    box-sizing: border-box;
}
img {
    /*width: 100%;*/
}

html, body {
    /*height: 100%;*/
}

body {
    /*display: flex;*/
    /*justify-content: center;
    align-items: center;*/

}

.grid {
    /*margin: 0 auto;
    margin-top: 50px;*/
    max-width: 960px;
    display: flex;

}

.col {
/*flex: 1;
background-color: rgb(192, 228, 191);
transition: all 1s ease;
opacity: .9;*/
}


.col:hover {
    /*flex: 5;*/
}

.col:first-child {
    /*background-color: rgb(215, 161, 161);*/
    /*opacity: .8;*/
}
.col:last-child {
    /*background-color: rgb(210, 226, 255);*/
}

.head {
    background-color: #F7F7F7;
    width: 960px;
    float: left;
    padding: 20px;
}
.head1 {
    color: #FD2727;
    padding-right: 10px;
}

.head2 {
    color: #2A2A2A;
    padding-right: 10px;
}

.head3 {
    color: #2A2A2A;
    padding-right: 10px;
}

.head4 {
    color: #2A2A2A;
    padding-right: 10px;
}

.headimg1 {
    max-width: 100px;
    padding-right: 20px;
}

.headimg2 {
    max-width: 30px;


}

.div1 {
    text-align: center;
}

.div1h1 {
    color: #4A4A4A;
    padding-top: 130px;
}

.div1h2 {
    color: #5A5A5A;
    font-size: 15px;
}

.a {
    color: #767676;
    fl
}

.column {
    display: inline-block;
    columns: 4;
}

.piccolumn {
    display: inline-block;
    columns: 2;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container {
    flex-direction: column;
}
